@media screen and (max-width:1800px) {

    .img-header {
        flex: 25%;
        margin-left: 25%;
    }

    .txt-header {
        flex: 25%;
        margin-right: 25%;
        text-align: right;
    }
}

@media screen and (max-width:1440px) {

    .img-header {
        flex: 30%;
        margin-left: 15%;
    }

    .txt-header {
        flex: 30%;
        margin-right: 15%;
        text-align: right;
    }
}

@media screen and (max-width:1024px) {

    .img-header {
        flex: 40%;
        margin-left: 10%;
        align-items: center;
    }

    .txt-header {
        flex: 40%;
        margin-right: 10%;
        text-align: right;
        align-items: center;
    }
}

@media screen and (max-width:950px) {

    .image-container {
        overflow: hidden;
        border-radius: 100%;
        width: 300px;
        height: 300px;
    }

    .img-header {
        flex: 40%;
        margin-left: 10%;
        align-items: center;
    }

    .txt-header {
        flex: 40%;
        margin-right: 10%;
        text-align: right;
        align-items: center;
    }
}

@media screen and (max-width:800px),
screen and (orientation: portrait) {

    #header {
        display: flex;
        flex-flow: column;
        padding-top: 120px;
    }

    .image-container {
        overflow: hidden;
        border-radius: 100%;
        width: 250px;
        height: 250px;
    }

    .img-header {
        margin-left: 0%;
        align-items: center;
    }

    .txt-header {
        margin-right: 0%;
        text-align: center;
    }

    .menu {
        display: none;
    }

    .sanduiche-btn {
        visibility: visible;
        display: inline-block;
    }

    .show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: rgb(231, 226, 255);
        box-shadow: 0 3px 10px rgba(71, 38, 189, 0.7);
        z-index: 999;
        padding: 10px;
    }

    .sanduiche-menu a {
        color: rgb(71, 38, 189);
        font-size: 20px;
        text-decoration: none;
        margin-bottom: 30px;
        border-left: 4px solid rgb(71, 38, 189);
        padding: 10px;
    }

}