h2,h3,p,ul,table{
    color: rgb(189, 189, 189);
}

body{
    background-color: black;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    
}

.img-tech{
    width: 5%;
}

#font-big{
    font-size: 30px;
}

#img-gif-seta{
    height: 400px;
    background-image: url(../img/gif/seta.gif);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

#contact-info{
    
}