@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.body {
    background: rgb(39, 37, 53);
}

#navbar {
    display: flex;
    flex-flow: row wrap;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: rgb(231, 226, 255);
    box-shadow: 0 3px 10px rgba(71, 38, 189, 0.7);
    z-index: 999;
}

.name {
    flex: 25%;
    margin-left: 5%;
    color: rgb(0, 0, 0);
}

.menu {
    flex: 45%;
    text-align: right;
    margin-right: 1%;
}

.menu a {
    text-decoration: none;
    color: rgb(71, 38, 189);
    padding: 1%;
}

#botaoFC {
    display: inline-block;
    background: rgb(71, 38, 189);
    padding: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

#botaoFC:hover {
    background: #9785ff;
}

.modoCE {
    flex: 1%;
}

.botaoCE {
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
}

.botaoCEE {
    background: black;
    color: white;
}

.botaoCEE:hover {
    background: white;
    color: black;
}

.botaoCEC {
    background: white;
    color: black;
}

.botaoCEC:hover {
    background: black;
    color: white;
}


.menu .botaoM:hover {
    border-top: 4px solid rgb(71, 38, 189);
    border-bottom: 4px solid rgb(71, 38, 189);
}

.header {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(255, 230, 230);
    padding-top: 80px;
}

.header-night {
    background: rgb(39, 37, 53);
    color: white;
}

.image-container {
    overflow: hidden;
    border-radius: 100%;
    width: 350px;
    height: 350px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.img-header {
    flex: 20%;
    margin-left: 30%;
}

.txt-header {
    flex: 20%;
    margin-right: 30%;
    text-align: right;
}

.carousel {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.carousel p {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-night {
    background: black;
    color: white;
}

.hab {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    background: rgb(253, 255, 238);
    padding-top: 60px;
    /* border: 4px solid#1d0c70; */
}

.hab-night {
    background: rgb(39, 37, 53);
    color: white;
}

.hab-pro {
    flex: 35%;
    margin-left: 10%;
    margin-right: 5%;
    text-align: right;
    /* border: 4px solid#1d0c70; */
}

.hab-tec {
    flex: 35%;
    margin-right: 10%;
    margin-left: 5%;
    text-align: left;
    /* border: 4px solid#1d0c70; */
}

.pro {
    display: grid;
    height: 600px;
    text-align: center;
    background: rgb(238, 238, 238);
    padding-top: 80px;
}

.pro-night {
    background: rgb(39, 37, 53);
    color: white;
}

.pro-1 {
    grid-column: 1;
    margin-left: 20%;
    margin-right: 5%;
    border: 4px solid#1d0c70;
}

.pro-2 {
    grid-column: 2;
    margin-right: 20%;
    margin-left: 5%;
    border: 4px solid#1d0c70;
}

.con {
    display: grid;
    height: 600px;
    justify-content: center;
    background: rgb(226, 255, 232);
    padding-top: 80px;
}

.con-night {
    background: rgb(39, 37, 53);
    color: white;
}

.con-social {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-gap: 100px;
}

.con-email {
    width: 50px;
}

footer {
    height: 300px;
    background-image: linear-gradient(180deg, #9785ff, #1d0c70, black);
    text-align: center;
    border-top: 5px solid rgb(71, 38, 189);
}