body{
    background-color: rgb(209, 224, 252);
    margin: 0px;
    
}

h1, p{
    color: rgb(50, 132, 255);
}

nav{
    background-color: rgb(218, 222, 255);
}

a{
    color: rgb(65, 84, 255);
    text-decoration: none;
    border: 1px solid;
    padding: 5px;
}

footer{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#totalMedium{
    background-color: black;
    padding: 5px;
}

#iframe-principal{
    border: none;
}




