h2,h3,p,ul,table{
    color: rgb(189, 189, 189);
}

body{
    background-color: black;
}

a{
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

a:hover{
    background: rgb(109, 109, 109);
}

.img-tech{
    width: 50px;
}

#font-big{
    font-size: 30px;
}

#img-gif-seta{
    height: 400px;
    background-image: url(../img/gif/seta.gif);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    
}